html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #111;
  padding: 24px;
}
::-moz-selection {
  background: #44c8f5;
  color: white;
}

::selection {
  background: #44c8f5;
  color: white;
}
body {
  max-width: 42em;
  /*ik ga dit niet vergeten, verwijst naar root font size van onze html element ( nu nog 16px) en dus hoe breed is dat nu 16*42=672px */
  margin: 0 auto;
}
img {
  max-width: 100%;
  vertical-align: top;
}
h1 {font-family: "Times New Roman",serif;
    font-size: normal;
    line-height: 40px;margin: 0 0 48px;
    font-weight: normal;

}

h2 {
font-size: 23px;
line-height: 24px;
margin: 0 0 24 px;
}

h3 {

}

h4,
h5,
h6 {
font-size: 16px;
line-height: 24px;
margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
margin: 0 0 24px;
}

ul,
ol {
  padding-left: 24px;
}
blockquote {
font-size: inherit;
line-height: inherit;
}

li ul,
li ol{
 margin-bottom: 0;
}

blockquote {

}

figcaption {
font-size: 12px;
line-height: 16px;
padding-top: 8px;
color: Grey;
}

hr {
border: 0;
height: 1px;
background: lightgrey ;
margin: 0 0 24px;
}

a {

}

a:hover,
a:focus {

}

a:visited,
a:active {
    
}

