html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #111;
  padding: 24px;
}
::-moz-selection {
  background: #44c8f5;
  color: white;
}

::selection {
  background: #44c8f5;
  color: white;
}
body {
  max-width: 42em;
  /*ik ga dit niet vergeten, verwijst naar root font size van onze html element ( nu nog 16px) en dus hoe breed is dat nu 16*42=672px */
  margin: 0 auto;
}
img {
  max-width: 100%;
  vertical-align: top;
}
